<div class="top-row ps-3 navbar navbar-dark">
    <a href="">
        <div class="container-fluid">
            <div class="coffee-cup-container">
                <div class="coffee-cup">
                    <div class="cup"></div>
                </div>
                <div class="saucer"></div>
            </div>
            <!--<a class="navbar-brand" href="">JC</a>-->
        </div>
    </a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable navbar-nav-scroll" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> About Us
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coffee">
                <span class="bi bi-coffee-cup-nav-menu" aria-hidden="true"></span> Our Coffee
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bakery">
                <span class="bi bi-cup-cake-nav-menu" aria-hidden="true"></span> Our Bakery
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cafe">
                <span class="bi bi-cafe-front-nav-menu" aria-hidden="true"></span> The Café 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="games">
                <span class="bi bi-dice-nav-menu" aria-hidden="true"></span> Games Nights 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="bi bi-books-nav-menu" aria-hidden="true"/> Books 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shop">
                <span class="bi bi-shopping-cart-nav-menu" aria-hidden="true"></span> Online Shop 
            </NavLink>
        </div>
    </nav>
</div>

<div class="nav-footer">
    <p>&copy; 2024 Will Hooper web solutions. Produced for Audrey at Bear Pit Café.</p>
</div>