@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to The Bear Pit Café!</h1>

<p><span class="cafe-name">The Bear Trap Café</span> is located in beautiful Quebec, where she lives with partner <span class="person-name">D A R K</span>.</p>

<h2>Opening times</h2>
<table class="table table-hover table-responsive">
	<tbody>
		<tr>
			<th scope="row">Monday</th>
			<td>06:30 - 18:00</td>
		</tr>
		<tr>
			<th scope="row">Tuesday</th>
			<td>06:30 - 18:00</td>
		</tr>
		<tr>
			<th scope="row">Wednesday</th>
			<td>06:30 - 20:00</td>
		</tr>
		<tr>
			<th scope="row">Thursday</th>
			<td>06:30 - 19:00</td>
		</tr>
		<tr>
			<th scope="row">Friday</th>
			<td>06:30 - 20:00</td>
		</tr>
		<tr>
			<th scope="row">Saturday</th>
			<td>08:00 - 17:00</td>
		</tr>
		<tr>
			<th scope="row">Sunday</th>
			<td>10:00 - 16:00</td>
		</tr>
	</tbody>
</table>